<h1>Select your choice</h1>
<p><%= link_to("Manage Admin Users", :controller => 'admin_user', :action => 'index') %></p>
<p><%= link_to("Manage Cities", :controller => 'city', :action => 'index') %></p>
<p><%= link_to("Manage Stores", :controller => 'store', :action => 'index') %></p>
<p><%= link_to("Log out", :controller => 'admin', :action => 'logout') %></p>