<%= form_for(:city, :url => {:action => "update", :id => @city.id}, :html => {:multipart => true}) do |city| %>
    <%= render(:partial => 'form', :locals => {:c => city}) %>
    <p class="text-center">
      <%= submit_tag("Update") %>
    </p>
<% end %>