<p><%= link_to("Back to All Users", {:action => 'index'}) %></p>
<p>Name : <%= u.text_field(:name) %></p>
<p>E-Mail : <%= u.text_field(:email) %></p>
<p>Password : <%= u.password_field(:password) %></p>
